.btn-large{
    font-size: 26px;
    width: 100%;
    padding: 0px !important;
}
.btn-menu{
  height: 50px;
  text-align: center;
}
.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-y: hidden !important;
    background: transparent;
}
.wrapperhelp{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: transparent;
}
.btn-color{
    background-color:purple;
    outline-color: purple;
    color: white;
    text-align: center;
}
.btn-colorr{
    background-color:gray;
    outline-color: gray;
    color: white;
}
.btn-white{
  background-color:white;
  outline-color: white;
  color: purple;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.headertxt{
  color:purple;
}